<li id="<%= haiku.author.id %>" class="haiku list-group-item">
  <p>
    <%= haiku.text %>
  </p>
  <p class="haiku-author">
    <%= haiku.author_name %> |
    <%= haiku.retweets %> retweets |
    <%= haiku.favorites %> favorites
    <span class="other-haikus"></span>
  </p>
</li>
